<div class="loginPage">
  <div class="container">
    <header>
    <div class="header_list">
        <div class="header_lists">
            <div><%= link_to new_article_path, class: "food_list" do %>
            <i class="fas fa-utensils fa-3x"></i>
            <% end %></div>
            <div><%= link_to users_path, class: "user_list" do%>
            <i class="fas fa-user fa-3x"></i></div>
            <%end%>
        </div>
    
    <div>
    </header>

  <% if user_signed_in?%>
   <div id="tinderslide">
      <ul>
        <% @article.each do |article| %>
            <li data-user_id="<%= article.id %>">
              <%= image_tag article.image %>
              <div class="like"></div>
              <div class="dislike"></div>
            </li>
        <% end %>
      </ul>
      <div class="noUser">新規投稿がありません。</div>
    </div>
  </div>
  <script>
  // スワイプするユーザー数の定数を定義
  var articleNum = "<%= @article.length %>"
  var currentIndex = 0;
  var postReaction = function (user_id, reaction, article_id) {
    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
        }
    });
    $.ajax({
      type: "POST",
      url: "<% "/articles/{article_id}/reactions" %>",
      data: {
        user: user_id,
        reaction: reaction,
        article: article_id
      },
      success: function(j_data){
        console.log("success")
      }
    });
  }
  $("#tinderslide").jTinder({
    onDislike: function (item) {
      currentIndex++;
      checkarticleNum();
      var article_id = item[0].dataset.article_id
      postReaction(article_id, 'dislike')
    },
    onLike: function (item) {
      currentIndex++;
      checkarticleNum();
      var article_id = item[0].dataset.article_id
      postReaction(article_id, 'like')
    },
    animationRevertSpeed: 200,
    animationSpeed: 400,
    threshold: 1,
    likeSelector: '.like',
    dislikeSelector: '.dislike'
  });
  $('.actions .like, .actions .dislike').click(function(e){
    e.preventDefault();
    $("#tinderslide").jTinder($(this).attr('class'));
  });
  function checkarticleNum() {
    // スワイプするユーザー数とスワイプした回数が同じになればaddClassする
    if (currentIndex === articleNum){
      $(".noUser").addClass("is-active");
      $("#actionBtnArea").addClass("is-none")
      return;
    }
  }
</script>
             <div class="navi_btn">
                <div class="btn loginPage_contents_btn">←見送り</div> 
                <div class="btn loginPage_contents_btn">キープ→</div>
            </div> 
        <%else%> 
            <div class="navi_btn">
               <%= link_to "新規登録", new_user_registration_path, class: "btn loginPage_contents_btn" %>
               <%= link_to "ログイン", new_user_session_path, class: "btn loginPage_contents_btn" %>
            </div>
      <%end%>
    </div>
     <footer>
      <p align="center">
        Copyright ketokeep 2020.
      </p>
    </footer>
  </div>
</div>