<div class="loginPage">
  <div class="container">
    <header>
    <div></div>
        <ul class="header_list">
            <li><%= link_to "投稿", new_article_path %></li>
            <li><%= link_to "マイページ", users_path %></li>
        </ul>
    
    <div></div>
    </header>

  <% if user_signed_in?%>
   <div id="tinderslide">
      <ul>
        <% @article.each do |article| %>
            <li data-user_id="<%= article.id %>">
              <%= image_tag article.image %>
              <div class="like"></div>
              <div class="dislike"></div>
            </li>
        <% end %>
      </ul>
      <div class="noUser">新規投稿がありません。</div>
    </div>
  </div>
  <script>
     $("#tinderslide").jTinder();
     $('.actions .like, .actions .dislike').click(function(e){
      	e.preventDefault();
    	$("#tinderslide").jTinder($(this).attr('class'));
   });
</script>
            <div class="navi_btn">
                <%= link_to "見送り", "#", class: "btn loginPage_contents_btn" %>
                <%= link_to "キープ", "#", class: "btn loginPage_contents_btn" %>
            </div>
        <%else%> 
            <div class="navi_btn">
               <%= link_to "新規登録", new_user_registration_path, class: "btn loginPage_contents_btn" %>
               <%= link_to "ログイン", new_user_session_path, class: "btn loginPage_contents_btn" %>
            </div>
      <%end%>
    </div>
  </div>
</div>