<div class="loginPage">
  <div class="container">
    <header>
    <div class="header_list">
        <div class="header_lists">
            <div><%= link_to new_article_path, class: "food_list" do %>
            <i class="fas fa-utensils fa-3x"></i>
            <% end %></div>
            <div><%= link_to users_path, class: "user_list" do%>
            <i class="fas fa-user fa-3x"></i></div>
            <%end%>
        </div>
    
    <div>
    </header>

  <% if user_signed_in?%>
   <div id="tinderslide">
      <ul>
        <% @article.each do |article| %>
            <li data-user_id="<%= article.id %>">
              <%= image_tag article.image %>
              <div class="like"></div>
              <div class="dislike"></div>
            </li>
        <% end %>
      </ul>
      <div class="noUser">新規投稿がありません。</div>
    </div>
  </div>
  <script>
     $("#tinderslide").jTinder();
     $('.actions .like, .actions .dislike').click(function(e){
      	e.preventDefault();
    	$("#tinderslide").jTinder($(this).attr('class'));
   });
</script>
             <div class="navi_btn">
                <div class="btn loginPage_contents_btn">←見送り</div> 
                <div class="btn loginPage_contents_btn">キープ→</div>
            </div> 
        <%else%> 
            <div class="navi_btn">
               <%= link_to "新規登録", new_user_registration_path, class: "btn loginPage_contents_btn" %>
               <%= link_to "ログイン", new_user_session_path, class: "btn loginPage_contents_btn" %>
            </div>
      <%end%>
    </div>
     <footer>
      <p align="center">
        Copyright ketokeep 2020.
      </p>
    </footer>
  </div>
</div>